/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Permanent+Marker&family=Protest+Revolution&family=Quicksand:wght@300..700&display=swap");

/* CSS Variables */
:root {
  --primary-font: "Cormorant Garamond", cursive;
  --secondary-font: "Quicksand", sans-serif;
  --primary-color: #2e304e;
  /* dark slate grey */
  --secondary-color: #5a608e;
  /* light slate grey */
  --highlight-color: #ffffff;
  /* white */
  --highlight-color-light: #d6eafd;
  /* light powder blue */
  --btn-hover-color:
  ;
}

/* Global styles */
body {
  background-image: url("../images/forest-bg-index.png");
  background-color: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

h1,
h2 {
  font-family: var(--primary-font);
  color: var(--highlight-color);
}

h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 2rem;
}

/* Navbar */
.navbar-custom {
  background-color: rgba(255, 255, 255, 0.427);
  /*A semi-transparent white*/
}

.navbar-brand,
.brand-container {
  display: flex;
  align-items: center;
}

.brand-container {
  display: flex;

  align-items: center;

  text-decoration: none;
}

.brand-name {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 700;
  margin-left: 0.8rem;
  line-height: 1; /* crucial for vertical centring */
}

/* Hero Section */
#hero {
  display: flex;
  height: 100vh;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 80px 20px;
}

#hero-title {
  font-size: clamp(2rem, 2vw, 3rem);
  line-height: 2;
}

#hero em {
  font-size: clamp(2rem, 3vw, 3rem);
}

#hero p {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 600;
}

#hero-subtitle,
#challenges-subtitle {
  font-size: clamp(1rem, 1.4vw, 1.5rem);
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 500;
  padding: 20px 0px 20px 0px;
}

#hero .row {
  min-height: 80vh;
}

#hero h1 {
  font-weight: 700;
}

#hero p {
  max-width: 900px;
  margin: auto;
}

/* Hero Section Buttons */
.btn-custom {
  background-color: transparent;
  color: var(--primary-color);
  font-family: var(--secondary-font);
  font-weight: 600;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  padding: 12px 30px;
  margin: 20px;
  transition: all 0.3s ease;
}

.btn-custom:hover {
  background-color: rgba(214, 234, 253, 0.3);
  border-color: rgba(214, 234, 253, 0.3);
  color: var(--primary-color);
}

/* Quote Section */
#quote-section {
  background: white;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  margin: 0px 0px 100px 0px;
}

.quote-container {
  padding: 20px 15vw;
}

.blockquote {
  max-width: 600px;
  text-align: center;
}

.blockquote p {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: clamp(1.5rem, 2.1vw, 2.3rem);
  font-weight: 600;
  font-style: italic;
  line-height: 1.4;
  margin-bottom: 0;
}

.blockquote-footer {
  font-family: var(--secondary-font);
  font-size: 1.2rem;
  margin: 0;
}

/* Section 2 - Challenges Cards */

#challenges {
  background: #ffffff;
  margin: 60px 0px 0px;
}

.challenges-container {
  padding: 0px;
}

#challenges-title {
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: clamp(2rem, 3vw, 3rem);
  font-weight: 700;
  text-align: center;
}

.flip-card {
  height: 300px;
  perspective: 1000px;
  cursor: pointer;
  padding: 0px 20px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;

  border-radius: 20px;

  overflow: hidden;

  backface-visibility: hidden;
}

.flip-card-front {
  background-size: cover;
  background-position: center;
}

.card-overlay {
  height: 100%;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;

  color: white;

  background: rgba(40, 41, 62, 0.7);
}

.card-overlay h3 {
  font-weight: 700;
  font-family: var(--primary-font);
  color: var(--highlight-color);
  text-align: center;
  top: 0;
}

.card-overlay p {
  font-family: var(--secondary-font);
  color: var(--highlight-color);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

.card-overlay span {
  margin-top: 1rem;
  color: white;
  font-weight: 600;
  text-align: center;
}

.flip-card-back {
  background: #28293e;
  color: white;
  padding: 2rem;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flip-card-back h3 {
  color: (var(--highlight-color));
  font-family: var(--primary-font);
  text-align: center;
}

.flip-card-back p {
  color: white;
  text-align: center;
}

.flip-card-back ul {
  padding-left: 1rem;
  top: 0;
}

.flip-card-back li {
  margin-bottom: 0.1rem;
}

.flip-card-back small {
  text-align: center;
  margin-top: 0.5rem;
}

/* Background Images */

.overwhelmed {
  background-image: url("../images/Challenges_1.jpg");
}

.anxiety {
  background-image: url("../images/Challenges_2.jpg");
}

.depression {
  background-image: url("../images/Challenges_3.jpg");
}

.burnout {
  background-image: url("../images/Challenges_4.png");
}

.loneliness {
  background-image: url("../images/Challenges_5.png");
}

.changes {
  background-image: url("../images/Challenges_6.jpg");
}

/* Section 3 - Stories Carousel */

#stories {
  width: 100%;
}

#stories-title {
  font-family: var(--primary-font);
  color: var(--highlight-color);

  font-size: clamp(2rem, 5vw, 2.4rem);

  font-weight: 700;

  text-align: center;

  padding: 10px;
}

/* Carousel Story Card */

.story-slide {
  min-height: auto;

  display: flex;

  align-items: center;

  justify-content: center;

  background: rgba(40, 41, 62, 0.8);

  border-radius: 20px;

  padding: 2rem;
}

/* Story Quote */

.story-slide p {
  font-family: var(--primary-font);

  color: white;

  font-size: clamp(1.2rem, 2vw, 1.2rem);

  font-style: italic;

  font-weight: 400;

  line-height: 1.8;
  margin-bottom: 0;
}

/* Story Name */

.story-slide h5 {
  color: white;

  font-family: var(--secondary-font);

  font-size: 1.4rem;

  font-weight: 600;

  margin: 1.5rem 0;
}

/* Carousel Modal */

.modal-content {
  background: rgba(255, 255, 255, 0.95);

  border-radius: 20px;

  border: none;
}

.modal-title {
  font-family: var(--primary-font);

  color: var(--primary-color);
}

.modal-body p {
  font-size: 1.1rem;

  line-height: 1.7;

  font-weight: 400;
}

.btn-close {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}

/* Helpful Links & resource Section */

#resources {
  background: #ffffff;
}

#resources-title {
  font-family: var(--primary-font);

  color: var(--primary-color);

  font-size: clamp(2rem, 5vw, 2.4rem);

  font-weight: 700;
}

.resource-card {
  height: 100%;

  padding: 2rem;

  background: rgba(90, 96, 142, 0.12);

  border-radius: 20px;

  text-align: center;

  display: flex;

  flex-direction: column;

  align-items: center;

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.resource-card:hover {
  transform: translateY(-8px);

  box-shadow: 0 15px 35px rgba(40, 41, 62, 0.15);
}

.resource-icon {
  font-size: 2.5rem;

  margin-bottom: 1rem;
}

.resource-card h3 {
  font-family: var(--secondary-font);

  color: var(--primary-color);

  font-size: 1.5rem;

  margin-bottom: 1rem;
}

.resource-card p {
  flex-grow: 1;

  line-height: 1.7;

  color: #333;
}

.btn-resource {
  margin-top: 1.5rem;

  background: #5a608e;

  color: white;

  border-radius: 25px;

  padding: 0.6rem 1.5rem;

  transition: 0.3s;
}

.btn-resource:hover {
  background: #28293e;

  color: white;
}

.resource-note {
  font-size: 0.95rem;

  color: #555;

  max-width: 700px;

  margin: auto;
}

/* Join Our Community Contact Form */

/* ==========================
   Community Section
=========================== */

#community {
  width: 100%;
}

/* Form Container */

.community-form-wrapper {
  width: 60%;

  background: rgba(40, 41, 62, 0.8);

  padding: 3rem;

  border-radius: 25px;

  color: white;
}

/* Heading */

.community-form-wrapper h2 {
  font-family: var(--primary-font);

  color: white;

  font-size: clamp(2rem, 5vw, 2.4rem);

  font-weight: 700;
}

.community-form-wrapper p {
  font-size: 1.1rem;

  line-height: 1.7;
}

/* Form Labels */

.community-form-wrapper .form-label {
  font-weight: 600;
}

/* Inputs */

.community-form-wrapper .form-control {
  padding: 0.9rem 1rem;

  border-radius: 10px;

  border: none;
}

.community-form-wrapper .form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(90, 96, 142, 0.5);
}

.privacy-note {
  font-size: 1rem;
  opacity: 0.8;
  margin-top: 1.5rem;
}

.modal-content {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 20px;
  border: none;
}

/* Button */

.btn-community {
  background: #5a608e;

  color: white;

  border-radius: 30px;

  padding: 0.8rem 2.2rem;

  font-weight: 600;

  transition: 0.3s;
}

.btn-community:hover {
  background: white;

  color: #28293e;
}

/* Responsive */

@media (max-width: 992px) {
  .community-form-wrapper {
    width: 80%;
  }
}

@media (max-width: 576px) {
  .community-form-wrapper {
    width: 95%;

    padding: 2rem;
  }
}

/* Footer*/
#footer {
  background-color: white;
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: center;
  padding: 40px 0px 0px 0px;
}

#footer h3 {
  font-family: (var(--primary-font));

  color: (var(--primary-color));

  margin-bottom: 1.2rem;
  text-align: center;
}

#footer p {
  line-height: 1.7;

  opacity: 0.9;
  text-align: center;
}

.footer-links {
  list-style: none;

  padding: 0;
  text-align: center;
}

.footer-links li {
  margin-bottom: 0.7rem;
}

.footer-links a {
  color: (var(--primary-color));

  text-decoration: none;

  opacity: 0.9;

  transition: 0.3s;
}

.footer-links a:hover {
  color: #5a608e;
}

#footer hr {
  margin: 2rem 0;

  opacity: 0.3;
}

/* Media queries */

@media (max-width: 768px) {
  .carousel-item {
    height: 40vh;
  }
}

/* Small screens and up */
@media screen and (min-width: 576px) {

  /* increase font size in events table when screen size is large enough */
  #events .table {
    font-size: 1rem;
  }

  .student-discount {
    font-size: 1rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

  /* Make all service cards the same height for consistency */
  #services .card-body {
    min-height: 191px;
  }
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {

  /* Make all service cards the same height for consistency */
  #services .card-body {
    min-height: auto;
  }
}

/* xl devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

  /* make all service cards the same height for consistency */
  #services .card-body {
    min-height: 220px;
  }
}

/* xxl devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {

  /* make all service cards the same height for consistency */
  #services .card-body {
    min-height: 195px;
  }
}